= form_for news_item, url: form_url, html: { method: form_method } do |f|
    - if news_item.errors.any?
        .alert.alert-danger
            %h2
                "#{pluralize(news_item.errors.count, 'error')} prohibited this news from being saved:"
            %ul
                - news_item.errors.full_messages.each do |message|
                    %li= message
    .form-group.row
        .col-sm-3
            = label :news_item, :representative_id, class: 'col-form-label'
        .col-sm-9
            .form-control-plaintext
            = representative.name
    .form-group.row
        .col-sm-3
            = f.label :issue, 'Issue', class: 'col-form-label'
        .col-sm-9
            .form-control-plaintext
            = params[:issue]
    .form-group.row
        .col-md-8
            .table-responsive-md
                %table.table.table-striped.table-hover#events
                    %caption Table of Representatives
                    %thead.thead-dark
                        %tr
                            %th Select
                            %th Title
                            %th Description
                            %th Link
                    %tbody
                        - articles['articles'].each do |article|
                            %tr
                                %td
                                    = radio_button_tag 'selected_article_id', article['url']
                                %td= article['title']
                                %td= article['description']
                                %td
                                    %a{ href: article['url'], target: '_blank' }= article['url']
    = f.fields_for :ratings, news_item.ratings.build do |rating_fields|
        .form-group.row
            .col-sm-3
                = rating_fields.label :value, 'Rating', class: 'col-form-label'
            .col-sm-9
                = rating_fields.select :value, options_for_select(1..10), {}, { class: 'form-control' }
    .actions
        = f.submit 'Save', class: 'btn btn-primary'
